apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "codeshield.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "codeshield.name" . }}
    helm.sh/chart: {{ include "codeshield.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "codeshield.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "codeshield.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: codeshield
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
              name: http
          env:
            - name: PORT
              value: "{{ .Values.env.PORT }}"
            - name: RULES_PATH
              value: "{{ .Values.env.RULES_PATH }}"
            - name: MAX_FILE_MB
              value: "{{ .Values.env.MAX_FILE_MB }}"
            - name: TIMEOUT_SEC
              value: "{{ .Values.env.TIMEOUT_SEC }}"
            - name: SCAN_DRIVER
              value: "{{ .Values.env.SCAN_DRIVER }}"
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 2
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 20
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: config
              mountPath: /app/config
              readOnly: true
            {{- if .Values.persistence.enabled }}
            - name: data
              mountPath: /data
            {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ include "codeshield.fullname" . }}
        {{- if .Values.persistence.enabled }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "codeshield.fullname" . }}
        {{- end }}
