apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pulseguard.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "pulseguard.name" . }}
    helm.sh/chart: {{ include "pulseguard.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "pulseguard.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "pulseguard.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: pulseguard
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
              name: http
          env:
            - name: PORT
              value: "{{ .Values.service.port }}"
            - name: RPC_URL
              value: "{{ .Values.env.RPC_URL }}"
            - name: FEATURE_WINDOW
              value: "{{ .Values.env.FEATURE_WINDOW }}"
            - name: ALERT_THRESHOLD
              value: "{{ .Values.env.ALERT_THRESHOLD }}"
            - name: SINK_URL
              value: "{{ .Values.env.SINK_URL }}"
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 2
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 20
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: config
              mountPath: /app/config
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: {{ include "pulseguard.fullname" . }}

