global:
  scrape_interval: 5s
  evaluation_interval: 15s

rule_files:
  - "alerts.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'dytallix-node'
    static_configs:
      - targets: ['dytallix-node:26680']
    scrape_interval: 5s
    metrics_path: /metrics

  - job_name: 'dytallix-faucet'
    static_configs:
      - targets: ['dytallix-faucet:9101']
    scrape_interval: 5s
    metrics_path: /metrics

  - job_name: 'dytallix-explorer'
    static_configs:
      - targets: ['dytallix-explorer:9102']
    scrape_interval: 5s
    metrics_path: /metrics

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
    scrape_interval: 15s
    metrics_path: /metrics

  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']
    scrape_interval: 15s
    metrics_path: /metrics