version: '3.8'

services:
  dytallix-node-1:
    build: ../../
    container_name: dytallix-node-1
    environment:
      DYTALLIX_ENVIRONMENT: testnet
      DYTALLIX_NODE_ID: node-1
      DYTALLIX_PORT: 3030
      DYTALLIX_P2P_PORT: 30303
      DYTALLIX_VALIDATOR: "true"
      DYTALLIX_LOG_LEVEL: info
      DYTALLIX_METRICS_ENABLED: "true"
    ports:
      - "3030:3030"
      - "9090:9090"
      - "8081:8081"
      - "30303:30303"
    volumes:
      - node1_data:/var/lib/dytallix
      - node1_logs:/var/log/dytallix
      - ./secrets:/etc/dytallix/keys:ro
    networks:
      - dytallix_testnet

  dytallix-node-2:
    build: ../../
    container_name: dytallix-node-2
    environment:
      DYTALLIX_ENVIRONMENT: testnet
      DYTALLIX_NODE_ID: node-2
      DYTALLIX_PORT: 3030
      DYTALLIX_P2P_PORT: 30304
      DYTALLIX_VALIDATOR: "true"
      DYTALLIX_LOG_LEVEL: info
      DYTALLIX_METRICS_ENABLED: "true"
    ports:
      - "3032:3030"
      - "9091:9090"
      - "8083:8081"
      - "30304:30303"
    volumes:
      - node2_data:/var/lib/dytallix
      - node2_logs:/var/log/dytallix
      - ./secrets:/etc/dytallix/keys:ro
    networks:
      - dytallix_testnet

  dytallix-node-3:
    build: ../../
    container_name: dytallix-node-3
    environment:
      DYTALLIX_ENVIRONMENT: testnet
      DYTALLIX_NODE_ID: node-3
      DYTALLIX_PORT: 3030
      DYTALLIX_P2P_PORT: 30305
      DYTALLIX_VALIDATOR: "true"
      DYTALLIX_LOG_LEVEL: info
      DYTALLIX_METRICS_ENABLED: "true"
    ports:
      - "3034:3030"
      - "9092:9090"
      - "8085:8081"
      - "30305:30303"
    volumes:
      - node3_data:/var/lib/dytallix
      - node3_logs:/var/log/dytallix
      - ./secrets:/etc/dytallix/keys:ro
    networks:
      - dytallix_testnet

  prometheus:
    image: prom/prometheus:latest
    container_name: dytallix-prometheus
    ports:
      - "9093:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
    networks:
      - dytallix_testnet

  grafana:
    image: grafana/grafana:latest
    container_name: dytallix-grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana:/etc/grafana/provisioning:ro
    environment:
      GF_SECURITY_ADMIN_PASSWORD: dytallix_testnet_admin
    networks:
      - dytallix_testnet

volumes:
  node1_data:
  node2_data:
  node3_data:
  node1_logs:
  node2_logs:
  node3_logs:
  prometheus_data:
  grafana_data:

networks:
  dytallix_testnet:
    driver: bridge
