version: '3.8'

services:
  dytallix-node-1:
    build: ../../
    container_name: dyt-validator-0
    environment:
      DYTALLIX_ENVIRONMENT: testnet
      DYTALLIX_NODE_ID: validator-0
      DYTALLIX_PORT: 3030
      DYTALLIX_P2P_PORT: 30303
      DYTALLIX_VALIDATOR: "true"
      DYTALLIX_LOG_LEVEL: info
      DYTALLIX_METRICS_ENABLED: "true"
      DY_METRICS: "1"
      DY_METRICS_ADDR: "0.0.0.0:9464"
      ENABLE_OBSERVABILITY: "${ENABLE_OBSERVABILITY:-0}"
    ports:
      - "3030:3030"
      - "9464:9464"
      - "8081:8081"
      - "30303:30303"
    volumes:
      - node1_data:/var/lib/dytallix
      - node1_logs:/var/log/dytallix
      - ./secrets:/etc/dytallix/keys:ro
    networks:
      - dytallix_testnet

  dytallix-node-2:
    build: ../../
    container_name: dyt-validator-1
    environment:
      DYTALLIX_ENVIRONMENT: testnet
      DYTALLIX_NODE_ID: validator-1
      DYTALLIX_PORT: 3032
      DYTALLIX_P2P_PORT: 30304
      DYTALLIX_VALIDATOR: "true"
      DYTALLIX_LOG_LEVEL: info
      DYTALLIX_METRICS_ENABLED: "true"
      DY_METRICS: "1"
      DY_METRICS_ADDR: "0.0.0.0:9464"
      ENABLE_OBSERVABILITY: "${ENABLE_OBSERVABILITY:-0}"
    ports:
      - "3032:3030"
      - "9465:9464"
      - "8083:8081"
      - "30304:30303"
    volumes:
      - node2_data:/var/lib/dytallix
      - node2_logs:/var/log/dytallix
      - ./secrets:/etc/dytallix/keys:ro
    networks:
      - dytallix_testnet

  dytallix-node-3:
    build: ../../
    container_name: dyt-validator-2
    environment:
      DYTALLIX_ENVIRONMENT: testnet
      DYTALLIX_NODE_ID: validator-2
      DYTALLIX_PORT: 3034
      DYTALLIX_P2P_PORT: 30305
      DYTALLIX_VALIDATOR: "true"
      DYTALLIX_LOG_LEVEL: info
      DYTALLIX_METRICS_ENABLED: "true"
      DY_METRICS: "1"
      DY_METRICS_ADDR: "0.0.0.0:9464"
      ENABLE_OBSERVABILITY: "${ENABLE_OBSERVABILITY:-0}"
    ports:
      - "3034:3030"
      - "9466:9464"
      - "8085:8081"
      - "30305:30303"
    volumes:
      - node3_data:/var/lib/dytallix
      - node3_logs:/var/log/dytallix
      - ./secrets:/etc/dytallix/keys:ro
    networks:
      - dytallix_testnet

  dytallix-node-4:
    build: ../../
    container_name: dyt-validator-3
    environment:
      DYTALLIX_ENVIRONMENT: testnet
      DYTALLIX_NODE_ID: validator-3
      DYTALLIX_PORT: 3036
      DYTALLIX_P2P_PORT: 30306
      DYTALLIX_VALIDATOR: "true"
      DYTALLIX_LOG_LEVEL: info
      DYTALLIX_METRICS_ENABLED: "true"
      DY_METRICS: "1"
      DY_METRICS_ADDR: "0.0.0.0:9464"
      ENABLE_OBSERVABILITY: "${ENABLE_OBSERVABILITY:-0}"
    ports:
      - "3036:3030"
      - "9467:9464"
      - "8087:8081"
      - "30306:30303"
    volumes:
      - node4_data:/var/lib/dytallix
      - node4_logs:/var/log/dytallix
      - ./secrets:/etc/dytallix/keys:ro
    networks:
      - dytallix_testnet

  dytallix-node-5:
    build: ../../
    container_name: dyt-validator-4
    environment:
      DYTALLIX_ENVIRONMENT: testnet
      DYTALLIX_NODE_ID: validator-4
      DYTALLIX_PORT: 3038
      DYTALLIX_P2P_PORT: 30307
      DYTALLIX_VALIDATOR: "true"
      DYTALLIX_LOG_LEVEL: info
      DYTALLIX_METRICS_ENABLED: "true"
      DY_METRICS: "1"
      DY_METRICS_ADDR: "0.0.0.0:9464"
      ENABLE_OBSERVABILITY: "${ENABLE_OBSERVABILITY:-0}"
    ports:
      - "3038:3030"
      - "9468:9464"
      - "8089:8081"
      - "30307:30303"
    volumes:
      - node5_data:/var/lib/dytallix
      - node5_logs:/var/log/dytallix
      - ./secrets:/etc/dytallix/keys:ro
    networks:
      - dytallix_testnet
volumes:
  node1_data:
  node2_data:
  node3_data:
  node4_data:
  node5_data:
  node1_logs:
  node2_logs:
  node3_logs:
  node4_logs:
  node5_logs:

networks:
  dytallix_testnet:
    driver: bridge
    external: false
